*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(247 234 232);
}
.alldiv{
    display: flex;
    flex-direction:row;
    margin-top: 3em;
}
.picdiv{
    background-image: url(./img/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 200px;
    display: flex; padding: 1em;
}
.maindiv{
    background-color: white;
    width: 420px;
    height: 400px;
}
.img{
    width: 4px;
    height: 2px;
}
span{
    color: rgb(102, 108, 113);
    font-size: 10px;
    text-transform: capitalize;
}
P{
    font-size: 10px;
}
.navbar{
    display: flex;
    align-items: end;
    justify-content: end;
    gap: 2em;
    padding: 1em;
    cursor: pointer;
}
h1{
    font-size: 50px;
    font-weight: 100;
    padding-left: 1em;
    padding-bottom: 10px;
}
.p2{
    background-color: black;
    width: 45px;
    height: 2px;
    margin-top: 9em;
}
.heading{
    display: flex;
}
.sp2{
    color: rgb(102, 108, 113);
    font-size: 10px;
    text-transform: capitalize;
    padding: 1em;
}
.picsec{
    background-image: url(./img/preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100px;
    height: 100px;
    display: flex;
}
.play{
    width: 20px;
    align-self: center;
    justify-self: center;
    margin-left: 2em; 
    background-color: aliceblue;
    border-radius: 100%;  
}
.border{
    background-color: aliceblue;
    border-radius: 100%;
}
.arrow{
    display: flex;
    padding-left: 2e;
}
sp3{
    color: rgb(102, 108, 113);
    font-size: 10px;
    text-transform: capitalize;  
}
.flex{
    padding-left: 4em;
}
h6{
  color: rgb(125, 119, 113);
  font-size: 16px;
}
.fff{
    display: flex;
    align-items: center;
}