*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
body{
  background-color: rgb(77 81 93);
  display: flex;
  align-items: center;
  justify-content: center;
}
.all-div{
  display: flex;
}
.maindiv{
  background-color: white;
  width: 400px;
  height: 500px;

}
.pic-div{
  background-image: url(./img/side.jpg);
  background-size: cover;
  width: 300px;
}
h1{
  color:rgb(92, 86, 86) ;
}
h6{
  color: rgb(184, 183, 183);
}
.hero-section{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 2em;
}
.images{
  width: 20px;
  height: 10px;
}
.down-sectin{
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
}
.google{
  display: flex;
  flex-direction:row;
  gap: 2em;
  padding: 7px;
  align-items: baseline;
  border: 1px rgb(195, 195, 199) solid;
  cursor: pointer;
}
.facebook{
  display: flex;
  flex-direction:row;
  gap: 2em;
  padding: 7px;
  align-items: baseline;
  border: 1px rgb(208, 208, 217) solid; 
  cursor: pointer;
}
h4{
  background-color: rgb(212, 219, 225);
  width: 100%;
  height: 1px;
  margin-top: 5em;
}
.last{
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
.h6-2{
  color: rgb(43, 7, 7);
  font-weight: bold;
  cursor: pointer;
}